<!--<bp-qr-code-reader>-->

<!--</bp-qr-code-reader>-->
<div class="app">
  <bp-header></bp-header>
  <div class="app__content">
    <div class="item"><bp-field></bp-field></div>
    <div class="item"><bp-field></bp-field></div>
    <div class="item"><bp-field></bp-field></div>
    <div class="item"><bp-field></bp-field></div>
    <div class="item"><bp-field></bp-field></div>
    <div class="item"><bp-field></bp-field></div> <div class="item"><bp-field></bp-field></div>
    <div class="item"><bp-field></bp-field></div>
    <div class="item"><bp-field></bp-field></div> <div class="item"><bp-field></bp-field></div>
    <div class="item"><bp-field></bp-field></div>
    <div class="item"><bp-field></bp-field></div>

  </div>
</div>
