<div class="bp-shop-details">

 <div class="bp-shop-details__title">Магазин</div>

 <div class="bp-shop-details__item">
   <div class="bp-shop-details__icon icon-shop {{shop.icon}}">

   </div>{{shop.name}}</div>
 <div class="bp-shop-details__item">{{shop.description}}</div>


  <div class="bp-shop-details__map">
    <div class="bp-shop-details__map-title">Расположение:</div>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13" (mapClick)="_addMarker($event)">
      <agm-marker *ngIf="shop.coords.lat && shop.coords.lon"
                  [(latitude)]="shop.coords.lat"
                  [(longitude)]="shop.coords.lon"
                  [markerDraggable]="true"
      ></agm-marker>
    </agm-map>
  </div>


  <div class="bp-shop-details__toolbar">
    <div class="bp-shop-details__toolbar-actions">
      <div class="bp-shop-details__toolbar-action _ok" (click)="_onChange()">Редактировать</div>
      <div class="bp-shop-details__toolbar-action _cancel" (click)="_onCancel()">Отмена</div>
    </div>
  </div>

</div>
