@import "../../../../styles";
.bp-shop-editor{
  display: flex;
  flex-direction: column;

  background-color: @textPrimaryColor;
  margin: 5px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  padding: 10px;

  bp-field{
    margin-top: 15px;
  }

  &__title {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    border-bottom: 1px solid @dividerColor;
    padding-bottom: 10px;
  }

  &__map {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;

    agm-map{
      width: 100%;
      height: 100%;
    }

    &-title {
      padding: 10px;
      font-size: 14pt;
    }
  }

  &__toolbar{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    bp-button{
      margin: 5px;
    }
  }

}
