<div class="bp-shop-editor">
  <div class="bp-shop-editor__title">
    {{title}}
  </div>
  <bp-field [title]="'Название'"
            [placeholder]="'Введите название магазина'"
            [model]="shop.name"
            (updateModel)="shop.name = $event"
  >
  </bp-field>

  <bp-field [title]="'Описание'"
            [placeholder]="'Введите описание магазина'"
            [(model)]="shop.description"
            [model]="shop.description"
            (updateModel)="shop.description = $event">
  </bp-field>

  <div class="bp-shop-editor__add-icon" (click)="_isAddIconDialogOpen = true" *ngIf="!shop.icon">
    + Добавить иконку
  </div>

  <div class="bp-shop-editor__icon-selected" *ngIf="shop.icon">
    <div class="bp-shop-editor__icon icon-shop {{shop.icon}}"></div>
    <div class="bp-shop-editor__icon-change" (click)="_isAddIconDialogOpen = true">
      Изменить иконку
    </div>
  </div>


  <div class="bp-shop-editor__map">
    <div class="bp-shop-editor__map-title">Расположение:</div>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13" (mapClick)="_addMarker($event)">
      <agm-marker *ngIf="shop.coords.lat && shop.coords.lon"
                  [(latitude)]="shop.coords.lat"
                  [(longitude)]="shop.coords.lon"
                  [markerDraggable]="true"
      ></agm-marker>
    </agm-map>
  </div>

  <div class="bp-shop-editor__toolbar">
    <div class="bp-shop-editor__toolbar-actions">
      <div class="bp-shop-editor__toolbar-action _ok" (click)="_onSave()">ОК</div>
      <div class="bp-shop-editor__toolbar-action _cancel" (click)="_onCancel()">Отмена</div>
    </div>
  </div>

</div>

<div class="bp-shop-editor__dialog-wrapper" *ngIf="_isAddIconDialogOpen"> </div>

<div class="bp-shop-editor__icon-list" *ngIf="_isAddIconDialogOpen">
  <div class="bp-shop-editor__icon-list-header">
    Добавить иконку
    <div class="bp-shop-editor__icon-list-header-close" (click)="_isAddIconDialogOpen = false"></div>
  </div>
  <div class="bp-shop-editor__icon-list-content">
    <div class="bp-shop-editor__icon-list-item" *ngFor="let icon of _icons"
         [ngClass]="{'_selected': icon.clazz === shop.icon}"
    (click)="_onIconSelected(icon.clazz)">
      <div class="icon-shop {{icon.clazz}}"></div>
      <div class="bp-shop-editor__icon-list-item-title">{{icon.title}}</div>
    </div>
  </div>
  <div class="bp-shop-editor__icon-list-action" (click)="_isAddIconDialogOpen = false" >
    OK
  </div>
</div>
